﻿@*@model List<string>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Get</title>
    </head>
    <body>
        <div>
            <a href="@Url.Action("Index", "Home")" style="color:green; font-size:14pt;">Add New File</a>
        </div>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string SingleObj in Model)
                    {
                        <tr>
                            <td>
                                <img src="@SingleObj" alt="@SingleObj"
                                     style="height:100px; width: auto;" />
                            </td>
                            <td>
                                <span>@Html.ActionLink("Delete Picture", "Delete", "Home", new { uri = SingleObj }, new { })</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
    </html>*@

@model List<string>
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Events Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @* <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<style>
    .navbar {
        background-color: teal;
        border-color: #E7E7E7;
    }

    .navbar-default .navbar-nav > li > a {
        color: #777777;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #E7E7E7;
        color: #555555;
    }
</style>
<body>

    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <img class="w3-image" src="~/Content/photographer.jpg" alt="Me" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Upload Your Photos</h1>
            <h5 class="w3-hide-large" style="white-space:nowrap">Upload Your Photos</h5>
            <h3 class="w3-hide-medium w3-hide-small">Image Detection Application</h3>
        </div>

        <!-- Navbar (placed at the bottom of the header image) -->
        <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
            <a href="@Url.Action("Index","FaceDetection")" class="w3-bar-item w3-button">Image Detection</a>
            <a href="@Url.Action("Index","Home")" class="w3-bar-item w3-button">Upload Image</a>
            <a href="@Url.Action("Get","Home")" class="w3-bar-item w3-button">Blob Storage Images</a>

        </div>
    </header>
    @*<div height="900"></div>*@
    <div style="margin-top: 20px" class="container body-content">
        <table border="1" align="center">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (string SingleObj in Model)
                {
                    <tr>
                        <td>
                            <img src="@SingleObj" alt="@SingleObj"
                                 style="height:400px; width: auto;" />
                        </td>
                        <td>
                            <span>@Html.ActionLink("Delete Picture", "Delete", "Home", new { uri = SingleObj }, new { })</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

