﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <!-- Header -->
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <img class="w3-image" src="~/Content/photographer.jpg" alt="Me" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Upload Your Photos Here</h1>
          
        </div>

        <!-- Navbar (placed at the bottom of the header image) -->
      
    </header>


    <div>
        <a href="@Url.Action("Get", "Home")" style="color:green; font-size:14pt;">View Data</a>
    </div>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>Upload File</legend>
                <ol>
                    <li>
                        <label style="margin-right:15px;">Select file </label>
                        <input type="file" name="FilePath" value="" />
                    </li>
                </ol>
                <input type="submit" value="Submit" />
            </fieldset>
        }
    </div>
</body>
</html>
